<div class="card mb-4 shadow-sm">
    <img class="card-img-top" src="../../../../assets/images/thumbnail.svg" alt="Card image " >
    <div class="card-body card-size">
      <h5 class="card-title">{{ post.title.substring(0, 20) }}</h5>
      <p class="card-text mb-3">{{ post.body.substring(0, 50) }}.</p>
      <div class="d-flex  align-items-center">
        <a [routerLink]="['/post/'+post.id]" class="btn btn-outline-primary mx-2">Read More...</a>
        <i class="fas fa-comment mr-1"></i> {{ comments?.length }}
      </div>
    </div>

  </div>
