<div class="row ">
    <ng-container *ngFor="let photo of photos  | paginate: {itemsPerPage:itemsCount.value, currentPage: page};
        index as k">
      <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <img class="card-img-top" [src]="photo.thumbnailUrl" alt="Card image " >
              <div class="card-body card-size">
                <h5 class="card-title">{{photo.title}}</h5>
              </div>
            </div>
      </div>
      <div *ngIf="(k + 1) % 3 === 0" class="w-100"></div>
    </ng-container>
  </div>
  <!-- Spinner -->
  <span *ngIf="loading" class="text-success">
      <i class="fas fa-spinner fa-pulse fa-3x"></i>
  </span>

  <!-- Pagination Controls -->
  <div class="row">
    <div class="col-sm-4">
      <form role="form" class="paging-form">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                Count/List
              </div>
            </div>
            <select class="form-control" #itemsCount="ngModel" name="count" [(ngModel)]="paginator.num">
              <option value="null" disabled>--Select count--</option>
              <option *ngFor="let num of [1, 5, 10, 20, 50, 100]" [value]=num>{{num}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-5">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <div class="col-sm-3 float-right"> <a routerLink="/albums" class="btn btn-outline-success"> Go Back</a></div>
  </div>
