<nav class="navbar navbar-expand-md navbar-light fixed-top bg-white text-muted border-bottom shadow-sm">
  <a class="navbar-brand" routerLink="/">Music Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item " routerLinkActive='active'>
        <a class="nav-link" routerLink="/" >Posts </a>
      </li>
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink="/albums">Albums</a>
      </li>
      
      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink="/users"> Users</a>
      </li>
      
    </ul>
    
  </div>
</nav>

